* { /* Задаём значение для всех элементов страницы */
    box-sizing: border-box; /* Позволяет правильно высчитывать высоту и ширину элементов */
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
   background-color: #635854; 
   padding-top: 12px; /* Задаём внутренний отступ сверху */
   padding-bottom: 12px; /* Задаём внутренний отступ снизу */
   border-bottom: 4px solid #3596F5; /* Сделали синию полоску снизу шапки (на самом деле сделали обводку шапки внизу) */
}

.navbar {
    max-width: 1280px; /* Задали максимальную ширину блока */
    margin: auto; /* Выравниваем элементы по центру нашего блока */
    display: flex; /* Выстраиваем элементы по очереди в порядке написания в каркасе (делая блок гибким) */
    justify-content: space-between; /* Разбрасываем элементы по блоку в стороны и по центру */
    align-items: center; /* Сделали все элементы по центру (т.е. элементы сбоку расположились по центру и так же центральный элемент) */
}

.navbar-menu {
    margin: 0; /* Убираем верхние (внешние) отступы */
    padding: 0; /* Убираем боковые (внутренние) отступы */
    list-style: none; /* Убираем точки по бокам у немаркированного списка */
    display: flex; /* Выстраиваем элементы по очереди в порядке написания в каркасе (делая блок гибким) */
    text-align: center; /* Выравниваем текст по центру */
}

.navbar-list {
    margin-left: 40px; /* Задаём отступ слева */
    margin-right: 40px; /* Задаём отступ справа */
}

.navbar-link {
    text-decoration: none; /* Убираем подчёркивание у ссылок в навигации */
    color: white; /* Делаем цвет букв белым */
}

.navbar-contacts {
    text-align: right; /* Выравниваем контакт по правому краю */
}

.navbar-text {
    display: block; /* Делаем текст блочным элементом, чтобы выстроить его вниз */
    color: white;
    margin-bottom: 4px; /* Делаем воздух в 4px между текстом и телефоном*/
    font-size: 14px; /* Меняем размер текста */
    line-height: 16px; /* Устанавливаем межстрочный интервал текста */
}

.navbar-phone {
    font-weight: bold; /* Меняем жирность шрифта */
    font-size: 17px; /* Меняем размер текста */
    line-height: 20px; /* Устанавливаем межстрочный интервал текста */
    text-decoration: none; /* Убираем подчёркивание у ссылки в контакте */
    color: white; /* Цвет номера */
}