@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
        url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    box-sizing: border-box; /* это правило позволяет правильно высчитывать ширину и высоту элементов на сайте */
}
body {
    font-family: 'Roboto', sans-serif; /* подключили семейство шрифта на сайт */
}
.header {
    background-color: #635854; /* задали фоновый цвет для шапки */
    padding-top: 12px; /* выделили 12px сверху для шапки */
    padding-bottom: 12px; /* выделили 12px снизу для шапки */
    border-bottom: 4px solid #3596f5; /* сделали голубую полоску внизу шапки */
}
.navbar {
    max-width: 1280px; /* задали максимальную ширину навигационному меню */
    margin: auto; /* ставим по центру все элементы шапки */
    display: flex; /* сделали меню гибким */
    justify-content: space-between; /* расставили элементы меню по краям */
    align-items: center; /* выравниваем элементы навигации по центру конструкции шапки */
}
.navbar-menu {
    margin: 0; /* отключили внешние отступы */
    padding: 0; /* отключили внутренние отступы */
    list-style: none; /* убрали точки у списка меню */
    display: flex; /* делаем элементы навигации гибкими */
    text-align: center; /* текст помещается по центру горизонтали окна контейнера */
}
.navbar-item {
    margin-left: 40px; 
    margin-right: 40px; 
}
.navbar-link {
    text-decoration: none; /* убрали подчёркивание текста */
    color: #fff; /* сделали белый цвет текста */
}
.navbar-contacts {
    text-align: right; /* выравниваем текст по правому краю */
}
.navbar-text {
    display: block; /* делаем элемент блочным, чтобы он занимал всю строчку */
    color: #fff;
    margin-bottom: 4px; /* отталкиваем номер телефона на 4px вниз */
    font-size: 14px;
    line-height: 16px; /* изменили высоту строки */
}
.navbar-phone {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}
.main {
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;
    display: flex; /* сделали секцию main гибкой, чтобы элементы выстроились справа и слева, а не друг под другом */
}
.main-info {
    flex-grow: 1; /* блок с счётчиком занимает всё оставшееся свободное место секции main с правой стороны */
    text-align: center; /* выровняли по центру весь текст в блоке */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.home-image path { /* поставили прозрачность = 0 для картинки ЖК Мелодия со всеми этажами, дабы этажи не были видны */
    opacity: 0;
    cursor: pointer; /* заменяет курсор на пальчик */
}
.home-image path:hover { /* псевдокласс hover сделал при наведении курсором на картинку здания видным каждый этаж */
    opacity: 1;
}
.counter-group  {
    display: flex; /* делаем гибким группу со стрелками вверх и вниз */
    flex-direction: column; /* стрелки становятся в колонку друг под друга */
    align-items: center; /* выравнили стрелки по центру относительно друг друга */
}
.counter-button {
    cursor: pointer;
    background-color: #fff;
    border: none; /* убираем чёрную обводвку у кнопок */
}
.main-title {
    margin: 0; /* убрали изначальный отступы */
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    color: #635854;  
}
.counter {
    font-family: "Bebas Neue", sans-serif;
    color: #635854;
    font-size: 124px;
}
.button-primary {
    background: #3596F5;
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 16px 36px; /* внутренний отступ в кнопке сверху и снизу 16, по краям 36px */
    cursor: pointer;
}